body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.total {
  border-radius: 10px;
  margin-left: 40%;
  width: 200px;
    border: 5px solid black;
    
}
.dropdown {
  text-align:center;
  margin-left: 2%;
  width: 200px;
  border: 5px  #3F51B5;


}

form{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  
}